# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

set $os Mod4
set $alt Mod1


# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
#font pango: Ubuntu Mono 16

# This font is widely installed, provides lots of unicode glyphs, right-to-left
# text rendering and scalability on retina/hidpi displays (thanks to pango).
font pango:Fira Code Regular 16

# Before i3 v4.8, we used to recommend this one as the default:
# font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
# The font above is very space-efficient, that is, it looks good, sharp and
# clear in small sizes. However, its unicode glyph coverage is limited, the old
# X core fonts rendering does not support right-to-left and this being a bitmap
# font, it doesn't scale on retina/hidpi displays.

# Use Mouse+$os to drag floating windows to their wanted position
floating_modifier $os

# start a terminal
# bindsym $os+Return exec i3-sensible-terminal
bindsym $os+Return exec kitty

# kill focused window
bindsym $os+Shift+q kill

# change focus
bindsym $os+h focus left
bindsym $os+j focus down
bindsym $os+k focus up
bindsym $os+l focus right

# alternatively, you can use the cursor keys:
bindsym $os+Left focus left
bindsym $os+Down focus down
bindsym $os+Up focus up
bindsym $os+Right focus right

# move focused window
bindsym $os+Shift+h move left
bindsym $os+Shift+j move down
bindsym $os+Shift+k move up
bindsym $os+Shift+l move right

# move focused window to another screen
bindsym $os+Control+h move container to output left
bindsym $os+Control+j move container to output down
bindsym $os+Control+k move container to output up
bindsym $os+Control+l move container to output right

# move current workspace to another screen
bindsym $os+Shift+Control+h move workspace to output left
bindsym $os+Shift+Control+j move workspace to output down
bindsym $os+Shift+Control+k move workspace to output up
bindsym $os+Shift+Control+l move workspace to output right

# adjust default workspace splitting orientation
default_orientation auto

# split in horizontal orientation
bindsym $os+b split h

# split in vertical orientation
bindsym $os+v split v

# enter fullscreen mode for the focused container
bindsym $os+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $os+s layout stacking
bindsym $os+w layout tabbed
bindsym $os+e layout toggle split

# toggle tiling / floating
bindsym $os+Shift+t floating toggle

# change focus between tiling / floating windows
bindsym $os+t focus mode_toggle

# focus the parent container
bindsym $os+a focus parent

# focus the child container
bindsym $os+z focus child

# Workspace names
set $ws1  1
set $ws2  2
set $ws3  3
set $ws4  4
set $ws5  5
set $ws6  6
set $ws7  7
set $ws8  8
set $ws9  9
set $ws10 10


# switch to workspace
bindsym $os+1 workspace $ws1
bindsym $os+2 workspace $ws2
bindsym $os+3 workspace $ws3
bindsym $os+4 workspace $ws4
bindsym $os+5 workspace $ws5
bindsym $os+6 workspace $ws6
bindsym $os+7 workspace $ws7
bindsym $os+8 workspace $ws8
bindsym $os+9 workspace $ws9
bindsym $os+0 workspace $ws10

# move focused container to workspace
bindsym $os+Shift+1 move container to workspace $ws1
bindsym $os+Shift+2 move container to workspace $ws2
bindsym $os+Shift+3 move container to workspace $ws3
bindsym $os+Shift+4 move container to workspace $ws4
bindsym $os+Shift+5 move container to workspace $ws5
bindsym $os+Shift+6 move container to workspace $ws6
bindsym $os+Shift+7 move container to workspace $ws7
bindsym $os+Shift+8 move container to workspace $ws8
bindsym $os+Shift+9 move container to workspace $ws9
bindsym $os+Shift+0 move container to workspace $ws10

# reload the configuration file
bindsym $os+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $os+Shift+r restart
# restart the computer and restoring all programs
#bindsym $os+Shift+$alt+r exec "for i in 1 2 3 4 5 6 7 8 9 10; do i3-resurrect save -s=class,instance,title,window_role -n -w $i; done; systemctl reboot"
bindsym $os+Shift+$alt+r exec "entomb_workspaces()"
#bindsym $os+Shift+$alt+Return exec "for i in 1 2 3 4 5 6 7 8 9 10; do i3-resurrect restore -n -w $i; done; "
bindsym $os+Shift+$alt+Return exec "resurrect_workspaces()"
# exit i3 (logs you out of your X session)
bindsym $os+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
#bindsym $os+Shift+e exec i3-msg exit

bindsym $os+n exec pkill -USR1 redshift

bindsym $os+g exec zsh ~/.config/i3/lock

mode "hibernate" {
  bindsym i exec "systemctl hibernate", mode "default"
  bindsym Return mode "default"
  bindsym Escape mode "default"
}

mode "reboot" {
  bindsym e exec "systemctl reboot", mode "default"
  bindsym Return mode "default"
  bindsym Escape mode "default"
}

mode "system" {
  bindsym h mode hibernate
  bindsym r mode reboot
  bindsym Return mode "default"
  bindsym Escape mode "default"
}

bindsym $os+x mode system


# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window's width.
        # Pressing right will grow the window's width.
        # Pressing up will shrink the window's height.
        # Pressing down will grow the window's height.
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # smaller increments
        bindsym Shift+h resize shrink width 2 px or 2 ppt
        bindsym Shift+j resize grow height 2 px or 2 ppt
        bindsym Shift+k resize shrink height 2 px or 2 ppt
        bindsym Shift+l resize grow width 2 px or 2 ppt

        # smaller increments
        bindsym Shift+Left resize shrink width 2 px or 2 ppt
        bindsym Shift+Down resize grow height 2 px or 2 ppt
        bindsym Shift+Up resize shrink height 2 px or 2 ppt
        bindsym Shift+Right resize grow width 2 px or 2 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $os+r mode "resize"

bindsym $os+$alt+h resize shrink width 2 px or 2 ppt
bindsym $os+$alt+j resize grow height 2 px or 2 ppt
bindsym $os+$alt+k resize shrink height 2 px or 2 ppt
bindsym $os+$alt+l resize grow width 2 px or 2 ppt

# bigger increments
bindsym $os+$alt+Shift+h resize shrink width 10 px or 10 ppt
bindsym $os+$alt+Shift+j resize grow height 10 px or 10 ppt
bindsym $os+$alt+Shift+k resize shrink height 10 px or 10 ppt
bindsym $os+$alt+Shift+l resize grow width 10 px or 10 ppt

# read 1 character and mark the current window with this character
bindsym $os+m exec i3-input -F 'mark %s' -l 1 -P 'Mark: '

# read 1 character and go to the window with the character
bindsym $os+u          exec i3-input -F '[con_mark="%s"] focus' -l 1 -P 'Goto: '
bindsym $os+apostrophe exec i3-input -F '[con_mark="%s"] focus' -l 1 -P 'Goto: '

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
  mode hide
  position bottom
  #status_command i3status
  status_command i3blocks

  colors {
    separator #ff0000
    background #000000
    statusline #ffffff
    focused_workspace #880000 #aa0000 #ffffff
    active_workspace #220000 #770000 #ffffff
    inactive_workspace #000000 #440000 #bbbbbb
    urgent_workspace #ff0000 #440000 #cccccc
  }
}

# start dmenu (a program launcher)
# bindsym $os+d exec dmenu_run # There also is the (new) i3-dmenu-desktop which only displays applications
# shipping a .desktop file. It is a wrapper around dmenu, so you need that # installed.
bindsym $os+d        exec --no-startup-id rofi -show drun -show-icons
bindsym $os+Shift+d  exec --no-startup-id rofi -show run -show-icons
bindsym $os+c        exec --no-startup-id rofi -show window -show-icons

bindsym $os+$alt+c   exec --no-startup-id rofi -show emoji
bindsym $os+$alt+v   exec --no-startup-id roficlip

bindsym $os+Shift+z  exec --no-startup-id rofi -show emoji
bindsym $os+Shift+a  exec --no-startup-id roficlip
bindsym $os+Shift+v  exec --no-startup-id roficlip

bindsym $os+p        exec --no-startup-id bwmenu -c 30 --auto-lock 86400


bindsym --release Caps_Lock exec pkill -SIGRTMIN+11 i3blocks
bindsym --release Num_Lock  exec pkill -SIGRTMIN+11 i3blocks

#User configuration

# Startup applications
exec xbanish
{{- if eq .chezmoi.hostname "Belgur" }}
exec redshift
{{- end }}
exec emacs --daemon
exec --no-startup-id clipster -d

# Keyboard map switcher
#bindsym Mod4+space setxkbmap us

mouse_warping none

# Workspace assignments

#assign [class="*hromium"] $ws2
#assign [class="Firefox"] $ws2
#assign [class="Zathura"] $ws4
#assign [class="Steam"] $ws5


# Appearance

new_window pixel {{ .i3.frame_thickness }}

hide_edge_borders both


# class                 border  backgr. text    indicator child_border
client.focused          #cc0000 #880000 #ffffff #008888   #cc0000
client.focused_inactive #333333 #333333 #ffffff #006666   #660000
client.unfocused        #333333 #221111 #888888 #004444   #330000
client.urgent           #bbbbbb #909000 #ffffff #909000   #ff0000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background       #ffffff


# Misc

for_window [class=".*Qt.*"] floating enable
for_window [class=".*Skil.*"] floating enable
for_window [title=".*ImageView.*"] floating enable
for_window [title="Processing.jl"] floating enable

bindsym $os+F2 exec xbacklight -inc 5           && pkill -SIGRTMIN+10 i3blocks
bindsym $os+F1 exec xbacklight -dec 5           && pkill -SIGRTMIN+10 i3blocks
bindsym $os+Shift+F2 exec xbacklight -inc 1     && pkill -SIGRTMIN+10 i3blocks
bindsym $os+Shift+F1 exec xbacklight -dec 1     && pkill -SIGRTMIN+10 i3blocks

bindsym $os+F7 exec amixer set Master 5%+       && pkill -SIGRTMIN+10 i3blocks
bindsym $os+F8 exec amixer set Master 5%-       && pkill -SIGRTMIN+10 i3blocks
bindsym $os+Shift+F7 exec amixer set Master 1%+ && pkill -SIGRTMIN+10 i3blocks
bindsym $os+Shift+F8 exec amixer set Master 1%- && pkill -SIGRTMIN+10 i3blocks

bindsym Print exec cd $HOME/pictures/screenshots/ && maim -m 1 `date +"%Y-%m-%d--%H-%M-%S-%3N".png` && xclip -sel clip -t image/png `ls -t | head -n1`

bindsym Shift+Print exec cd $HOME/pictures/screenshots/ && maim -i $(xdotool getactivewindow) -m 1 `date +"%Y-%m-%d--%H-%M-%S-%3N".png` && xclip -sel clip -t image/png `ls -t | head -n1`

bindsym $os+Print exec cd $HOME/pictures/screenshots/ && maim -s -m 1 `date +"%Y-%m-%d--%H-%M-%S-%3N".png` && xclip -sel clip -t image/png `ls -t | head -n1`

# scrot & gimp - root
#bindsym Print exec scrot '%Y-%m-%d-%H%M%S_$wx$h.png' -e 'mv $f ~/Pictures/screenshots/'
# scrot & gimp - current window or rectangle
#bindsym Shift+Print exec scrot '%Y-%m-%d-%H%M%S_$wx$h.png' -u -e 'mv $f ~/Pictures/screenshots/'

bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous
#bindsym XF86AudioRaiseVolume playerctl volume + doesn't seem to work with spotify
#bindsym XF86AudioLowerVolume playerctl volume -
bindsym XF86AudioStop exec playerctl stop
